// Flex colors
@orange: #707070;
@light-orange: #a0a0a0;
@white:  #ffffff;
@grey: #333333;
@light-grey:  #eeeeee;
@med-grey:  #999999;
@dark-grey: #242121;

// Font family
@sans: 'Source Sans Pro', 'Roboto', 'Open Sans', 'Liberation Sans', 'DejaVu Sans', 'Verdana', 'Helvetica', 'Arial', sans-serif;
@mono: 'Source Code Pro', 'Consolas', 'Liberation Mono', 'DejaVu Sans Mono', monospace;

// Body
@body-bg: @white;
@text-color: @dark-grey;

// Links
@link-color: #707070;
@link-hover-color: #a0a0a0;

// Sidebar (aside)
@sidebar-bg: @grey;
@sidebar-text-color: @white;
@sidebar-link-color: @white;
@sidebar-link-hover-color: @light-grey;

// Buttons
@btn-bg: #707070;
@btn-text-color: @white;
@btn-hover-color: #a0a0a0;

// Tag cloud
@tag-bg: #707070;
@tag-text-color: @white;
@tag-hover-color: #a0a0a0;

// Header
@header-text-color: @med-grey;

// Footer
@footer-text-color: @med-grey;
@footer-border-color: @light-grey;

// Relativer posts
@rel-post-border-color: @light-grey;

// Nav
@nav-border-color: @light-grey;

// Social buttons

@email-bg-color: #808080;
@facebook-bg-color: #707070;
@github-bg-color: #333333;
@google-bg-color: #777777;
@instagram-bg-color: #666666;
@linkedin-bg-color: #757575;
@medium-bg-color: #888888;
@pinterest-bg-color: #696969;
@reddit-bg-color: #808080;
@rss-bg-color: #858585;
@soundcloud-bg-color: #808080;
@stack-overflow-bg-color: #999999;
@tumblr-bg-color: #696969;
@twitter-bg-color: #7a7a7a;
@youtube-bg-color: #808080;
@gitlab-bg-color: #909090;
@xing-bg-color: #777777;
@bitbucket-bg-color: #606060;
@mastodon-bg-color: #808080;
