{% if 'jinja2.ext.i18n' not in JINJA_ENVIRONMENT.extensions and 'jinja2.ext.i18n' not in JINJA_EXTENSIONS %}
  {% macro _(msg) %}
    {{ msg % kwargs }}
  {% endmacro %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>

  {% if article %}
    {% if article.stylesheets %}
        {% for stylesheet in article.stylesheets %}
            {{ stylesheet }}
        {% endfor %}
    {% endif %}

    {% if article.javascripts %}
        {% for javascript in article.javascripts %}
            {{ javascript }}
        {% endfor %}
    {% endif %}
  {% endif %}

  <!-- to fix p5.js sketch on mobile -->
  <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if page in hidden_pages %}
    <meta name="robots" content="noindex, nofollow" />
  {% else %}
    <meta name="robots" content="{{ ROBOTS }}" />
  {% endif %}

  {% if USE_GOOGLE_FONTS != False %}
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  {% endif %}

{% if article %}
  {% if USE_LESS %}
    <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.less">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js" type="text/javascript"></script>
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.min.css">
  {% endif %}
{% endif %}

  {% if CUSTOM_CSS %}
    <link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet">
  {% endif %}

  {% if FAVICON %}
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="theme-color" content="#ffffff">
    <!-- -  <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x-icon">  --> 
    <!-- <link rel="icon" href="{{ FAVICON }}" type="image/x-icon"> -->
  {% endif %}

  {% if GOOGLE_ANALYTICS %}
    {% include "partial/ga.html" %}
  {% endif %}

  {% if BROWSER_COLOR %}
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ BROWSER_COLOR }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ BROWSER_COLOR }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Microsoft EDGE -->
    <meta name="msapplication-TileColor" content="{{ BROWSER_COLOR }}">
  {% endif %}

  {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    {% include "partial/og.html" %}
  {% endblock %}

  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

</head>
<body>

  {% if article.inbodyjs %}
    {% for javascript in article.inbodyjs.split(", ") %}
    <script src="{{ javascript }}" type="text/javascript"></script>
    {% endfor %}
  {% endif %}



  {% if GOOGLE_TAG_MANAGER %}
    {% include "partial/gtm_noscript.html" %}
  {% endif %}

  <main>

    {% if MAIN_MENU %}
    <nav>
      <a href="{{ SITEURL }}">{{ _('Home') }}</a>
    </nav>
    {% endif %}

    {% block content %}
    {% endblock %}

  </main>

  {% if GITHUB_CORNER_URL %}
  {% include 'partial/github.html' %}
  {% endif %}
</body>

{% if article %}
    {% if article.javascripts %}
        {% for javascript in article.javascripts %}
{{ javascript }}
        {% endfor %}
    {% endif %}
{% endif %}
</html>
